@font-face{
    font-family: bolder;
    src: url('../fonts/FiraGO-Heavy.ttf');
}
@font-face{
    font-family: bold;
    src: url('../fonts/FiraGO-Bold.ttf');
}
@font-face{
    font-family: medium;
    src: url('../fonts/FiraGO-Medium.ttf');
}
@font-face{
    font-family: normal;
    src: url('../fonts/FiraGO-Regular.ttf');
}
.font-bolder{
    font-family: bolder;
}
.font-bold{
    font-family: bold;
}
.font-medium{
    font-family: medium;
}
.font-normal{
    font-family: normal;
}
.text-x{
    font-size: 0.7rem;
}
.font-caps{
    -webkit-font-feature-settings: 'case' on;
    font-feature-settings: 'case' on;
}
.dashboard{
    padding:10px 30px 10px 30px;
    height:calc(87vh - 89px);
    overflow-y:auto
}
.dashboard::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
.dashboard::-webkit-scrollbar-track {
  background: #d8d8d8;        /* color of the tracking area */
}
.dashboard::-webkit-scrollbar-thumb {
  background-color: rgb(122, 122, 122);    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
}

.focus\:font-bold:hover{
    font-family: bold;
}
a:link,
a:visited{
    color: #333;
    text-decoration: none;
}
.py-2\.5{
    padding-top: 14px !important;
     padding-bottom: 14px
}